<div class="logo d-flex justify-content-center">
    <img src="img/check.svg" alt="logo">
</div>

<main>
    <div class="container">
        <h1>Lista de quehaceres</h1>
        <div class="dia"></div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="inputAgregar">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nuevo quehacer" aria-label="Nuevo quehacer"
                            aria-describedby="nuevoQuehacer" id="inputQuehacer">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-pink" id="btnAgregarQuehacer">Agregar</button>
                        </div>
                    </div>
                </div>
                <ul class="listaQuehaceres">
                    <li data-id="A1671403767801" class="pendiente">
                        <div class="checkbox">
                            <span class="eliminar">
                                <i class="fa fa-times"></i>
                            </span>
                            <label>
                                <span class="checkbox-mask"></span>
                                <input type="checkbox">aaaa
                            </label>
                        </div>
                    </li>
                    <li data-id="J1671403770437" class="completado">
                        <div class="checkbox"><span class="eliminar"><i class="fa fa-times"></i></span><label><span
                                    class="checkbox-mask"></span><input type="checkbox">asdasd</label></div>
                    </li>
                    <li data-id="M1671419772634" class="pendiente">
                        <div class="checkbox"><span class="eliminar"><i class="fa fa-times"></i></span><label><span
                                    class="checkbox-mask"></span><input type="checkbox">prueba</label></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>