<div class="logo d-flex justify-content-center">
    <img src="img/check.svg" alt="logo">
</div>

<main>
    <div class="container">
        <h1>Lista de quehaceres</h1>
        <div class="dia"></div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="inputAgregar">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nuevo quehacer" aria-label="Nuevo quehacer"
                            aria-describedby="nuevoQuehacer" id="inputQuehacer">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-pink" id="btnAgregarQuehacer">Agregar</button>
                        </div>
                    </div>
                </div>

                <ul class="listaQuehaceres">
                    <div class="botones d-flex justify-content-between align-items-center mb-3">
                        <button type="button" class="btn btn-secondary" id="btnEliminarTodos">Eliminar todos</button>
                        <button type="button" class="btn btn-secondary" id="btnEliminarCompletados">Eliminar completados</button>
                    </div>
                    <div id="quehaceres"></div>
                </ul>
            </div>
        </div>
        {{> footer }}
    </div>
</main>