<div class="logo d-flex justify-content-center">
    <img src="img/check.svg" alt="logo">
</div>

<main>
    <div class="container">
        <h1>Lista de quehaceres</h1>
        <div class="dia"></div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="inputAgregar">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nuevo quehacer" aria-label="Nuevo quehacer"
                            aria-describedby="nuevoQuehacer" id="inputQuehacer">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-pink" id="btnAgregarQuehacer">Agregar</button>
                        </div>
                    </div>
                </div>

                <ul class="listaQuehaceres">
                    <li data-id="A1671403767801" class="pendiente">
                        <div class="quehacer">
                            <div class="acciones">
                                <span class="editar">
                                    <i class="fas fa-pen"></i>
                                </span>
                                <span class="eliminar">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </div>

                            <label class="tarea">
                                <input type="checkbox" class="checkbox">
                                <span class="nombreQuehacer">orem Ipsum is
                                </span>
                            </label>
                        </div>
                    </li>

                    <li data-id="A1671403767801" class="completado">
                        <div class="quehacer">
                            <div class="acciones">
                                <span class="eliminar">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </div>

                            <label class="tarea">
                                <input type="checkbox" class="checkbox">
                                <span class="nombreQuehacer">orem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </span>
                            </label>
                        </div>
                    </li>
                    <span id="quehaceresPendientes">Tienes 2 quehaceres pendientes</span>
                </ul>
            </div>
        </div>
    </div>
</main>