:root {
    --space-cadet: #16315cff;
    --violet-red: #eb5e92ff;
    --cyclamen: #ed78a4ff;
    --amaranth-pink: #f69bbeff;
    --cameo-pink: #eab9ceff;
    --mimi-pink: #f4d0dcff;
    --white: #fff;
}

body {
    background-color: var(--space-cadet);
    font-family: 'Lexend', sans-serif;
    color: var(--white);
}

.logo {
    margin-top: 30px;
}

.logo img {
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
}

.inputAgregar {
    margin-top: 20px;
}

#inputQuehacer {
    font-weight: 400;
}

.btn-pink {
    color: var(--white);
    font-weight: 500;
    background-color: var(--cyclamen);
    border-color: var(--cyclamen);
}

.btn-pink:hover {
    color: var(--white);
    background-color: var(--violet-red);
}

ul {
    list-style: none;
    padding: 0;
}

input[type='checkbox'] {
    transform: scale(1.2);
    accent-color: var(--space-cadet);
}

/* Prueba lista */
.listaQuehaceres {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: rgba(244, 208, 220, 0.2);
    padding: 15px 15px;
    border-radius: 6px;
}

.listaQuehaceres li {
    border-radius: 6px;
    margin-bottom: 12px;
    word-break: break-word;
}

.listaQuehaceres li:last-child {
    margin-bottom: 0;
}

.listaQuehaceres li.pendiente {
    background: var(--white);
    color: var(--space-cadet);
}

.listaQuehaceres li.completado {
    background: var(--violet-red);
}

.listaQuehaceres li.completado label {
    text-decoration: line-through;
    color: var(--white);
}

.listaQuehaceres li .quehacer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.listaQuehaceres li .quehacer .acciones {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    /* opacity: 0; */
}

.listaQuehaceres li .quehacer .acciones span{
    cursor: pointer;
}

.listaQuehaceres li .quehacer .acciones:first-child {
    padding-left: 8px;
}

.listaQuehaceres li .quehacer label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    gap: 8px;
}

.listaQuehaceres li .quehacer label .nombreQuehacer {
    text-align: justify;
}
